<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>高校赞助网</title>
<link href="../Css/index_style.css" rel="stylesheet" type="text/css" />

</head>

<body>


<div id="container">
	<div id="menu">
    	<ul>
            <li><a href="#" class="current">首页</a></li>
            <li><a href="#">行业新闻</a></li>
            <li><a href="#">分析报告</a></li>
            <li><a href="#" target="_parent">知识库</a></li>
            <li><a href="#" target="_parent">项目库</a></li>
            <li><a href="#">校园大使</a></li>
            <li><a href="#">在线调查</a></li>
            <li><a href="#">精彩瞬间</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>

	<div id="banner">
    	
        <div id="site_title">
            	
                <img src="../Img/logo.jpg" alt="LOGO的图片" />
              
          
        </div>
        
        <div id="login_box">
				
				<a href="#" style="margin-left:34px;"><span>登录</span></a>&nbsp;  或  &nbsp; 
				<a href="#" ><span>注册</span></a>&nbsp;｜
				<a href="#" ><span>帮助</span></a>
				
	
			</div>

       
    
    </div> <!-- banner -->
    
    <div class="fw_section blue_section">
    	
        <div class="fw_section_content">
    
            <h2>赞助商入口</h2>
            <p>Sponsor entrance</p>
            <div class="button_01"><a href="http://127.0.0.1:1013/Sponsor/Template/Sponsor/login.html" target="_parent">进入</a></div>
            
	  </div>
            
    </div> <!-- end of blue section -->
    
    <div class="fw_section green_section">
    
    	<div class="fw_section_content">
    
            <h2>社团入口</h2>
            <p>Association entrance</p>
            <div class="button_01"><a href="http://127.0.0.1:1013/Sponsor/Template/Club/login.html" target="_parent">进入</a></div>
            
	  </div>
    
    </div> <!-- end of green section -->
    
    <div id="content">
     <div id="main">
      <div id="recommend">
        <div id="bar1">
          <p>推  荐  项  目</p>
    
        </div>
        <div id="section_w560">
        <img src="../Img/mpic.jpg" />
            <ul>
               <li><a href="#">广州雅浩服装有限公司</a> <span>诚意提供服装类赞助</span></li>
               <li><a href="#">广州双五贸易有限公司</a> <span>赞助详情细谈</span></li>
               <li><a href="#">广州发型机构</a> <span>为各个高校提供赞助</span></li>
               <li><a href="#">学程旅游网</a> <span>去旅游？找学程！</span></li>
            </ul>
        </div>
       </div>
        
        <div id="current">
         <h1>最  新  项  目</h1>
          <ul>
              <li><a href="#">广州大学公寓文化节</a></li>
              <li><a href="#">广东工业大学女生节</a></li>
              <li><a href="#">东莞理工工模</a></li>
              <li><a href="#">广东药学院总篮球赛</a></li>
              <li><a href="#">中山大学维权日</a></li>
              <li><a href="#">华南师范大学女生节</a></li>
              <li><a href="#">广东中医药大学校庆</a></li>
              <li><a href="#">广东金融学院毕业典礼</a></li>
              <li><a href="#">广东美术学院毕业展</a></li>
        </ul>
        </div>
    
    
     </div><!--end of main-->
     
     <div id="news">  
       <h1>网  站  公  告</h1>
       <div id="text">
       
        <div id="text1">
        <h4>业务简介</h4>
         <p>高校赞助网的主营业务是把高校与商家线下繁杂拉赞助活动搬上了互联网，企业如需在高校市场作宣传，可以在本网站浏览信息，寻找合适的学生组织及活动；而学生组织若需要拉赞助，也可以在本网站浏览商家赞助信息，</p>
        </div>
        <div id="text2">
        <h4>用户须知</h4>
        <p>每个用户前期使用必须提交信息进行信息认证，我们在每个高校都会招聘高校负责人，搜集学校的社团信息，然后再给每个学生组织派发账号和密码，如果没有搜录到的，需要自行申请加V。</p>
        </div>
        
        </div>
     </div>
     
     <div id="ambassadors">
       <div id="bar2">
       <p>校园大使</p>
       </div>
       <ul>
            <li><a><img src="../Img/1.jpg" /></a>
                <p><span>孙凯奇</span><span>大连交大</span><span>2014年3月21日</span></p>
            </li>
            <li><a><img src="../Img/2.jpg" /></a>
                <p><span>李秀辉</span><span>北华大学</span><span>2014年3月21日</span></p>
            </li>
            <li><a><img src="../Img/3.jpg" /></a>
                <p><span>何家欢</span><span>江南大学</span><span>2014年3月21日</span></p>
            </li>
            <li><a><img src="../Img/4.jpg" /></a>
                <p><span>王素硕</span><span>北京建筑工程学院</span><span>2014年3月21日</span></p>
            </li>
       </ul>
     
     </div>
    	
        
    </div><!--end of content-->
    
    <div id="footer">

        <ul class="footer_menu">
			<li><a href="#" class="current">首页</a></li>
            <li><a href="#">行业新闻</a></li>
            <li><a href="#">分析报告</a></li>
            <li><a href="#" target="_parent">知识库</a></li>
            <li><a href="#" target="_parent">项目库</a></li>
            <li><a href="#">校园大使</a></li>
            <li><a href="#">在线调查</a></li>
            <li><a href="#">精彩瞬间</a></li>
            <li class="last_menu"><a href="#">联系我们</a></li>
        </ul>
    
        Copyright © 2014 <a href="#">高校赞助网责任有限公司</a> | 
        Designed by <a href="#" target="_parent">哈哈哈哈哈哈</a> | 
        友情链接>>
    
    </div> <!-- end of footer -->
    
</div> <!-- end of container -->

</body>
</html>
